# Build results
bin/
obj/
Debug/
Release/

# User-specific files
*.user
*.suo
*.userosscache
*.userprefs

# Visual Studio / VS Code / Rider
.vs/
*.vscode/
.idea/

# Logs
*.log

# Database files (if you don’t want to commit DB)
*.mdf
*.ldf
*.db

# Mac-specific
.DS_Store

# NuGet packages
*.nupkg
packages/
